@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @*<div class="row">
        <div class="row table-responsive">
            <div class="col-md-12" style="padding:35px;">
                <table id="tblProveedores" class="table">
                </table>
            </div>
        </div>
    </div>*@







    <div class="row table-responsive">
        <div class="col-md-12" style="padding:35px;">
            <table id="tablaListaProductos" class="table">
            </table>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/ViewsScripts/Ahorros/Index.js"></script>
}

